@import 'bourbon/bourbon';
@import 'variables';

.logo {
    @include animation(scaleUp 1s $ease-out-sine);
    width: 45%;

    position: absolute;
    top: 10%;
    left: 10%;
}

article {
    @include calc(width, '40% - 4rem');
    padding: 2rem;

    background: $white;

    border-radius: 1.5rem;

    strong {
        font-weight: $bold;
    }
}

.intro {
    article {
        @include animation(scaleUp 1s $ease-in-sine);
        position: absolute;
        top: 40%;
        left: 50%;
    }

    .scroll {
        @include animation(slideUp 1.5s $ease-in-out-back);
        width: 25%;

        position: absolute;
        bottom: 10%;
        left: 57.5%;
    }
}

.page {
    > h1 {
        @include transition(top .5s ease-in-out);
        margin-top: 5%;

        position: relative;
        top: 0;

        font-size: 4rem;
        font-weight: $round;
        color: $red;
        text-align: center;

        &.pinned {
            top: 5%;
            position: fixed;
        }
    }

    h2 {
        @include transition(top .5s ease-in-out, opacity .5s ease-in-out);
        @include calc(margin-top, '5% + 4rem');

        position: relative;
        top: 0;

        font-family: $filosofia;
        font-size: 3.5rem;
        color: $white;
        text-align: center;

        opacity: 1;

        &.pinned {
            @include calc(top, '5% + 4rem');
            position: fixed;
        }

        &.hide {
            opacity: 0;
        }
    }
}

div {
    &.center {
        width: 70%;

        article {
            @include calc(width, '50% - 4rem');
            float: left;
        }

        img {
            width: 35%;
            float: right;
        }
    }
}