@import 'bourbon/bourbon';
@import 'variables';

.logo {
    width: 45%;

    position: absolute;
    top: 10%;
    left: 10%;
}

article {
    @include calc(width, '40% - 4rem');

    padding: 2rem;

    background: $white;

    border-radius: 1.5rem;

    p {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    strong {
        font-weight: $bold;
    }
}

.intro {
    article {
        position: absolute;
        top: 40%;
        left: 45%;
    }

    .scroll {
        width: 30%;

        position: absolute;
        top: 70%;
        left: 50%;
    }
}

.page {
    h1 {
        margin-top: 5%;

        font-size: 4rem;
        font-weight: $round;
        color: $red;
        text-align: center;

        &.pinned {
            @include transform(translateX(-50%));
            position: absolute;
            top: 5%;
            left: 50%;

            margin-top: 0;
        }
    }
}

.center {
    @include transform(translate(-50%, -50%));
    position: absolute;
    left: 50%;
    top: 50%;
}