@font-face {
  font-family: Gotham;
  font-weight: 900;
  src: url('../fonts/GothamRnd-Bold.otf');
}

@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: Gotham;
  font-weight: 400;
  src: url('../fonts/Gotham-Book.otf');
}

@font-face {
  font-family: Filosofia OT;
  font-weight: 400;
  src: url('../fonts/FilosofiaOT-Italic.otf');
}
