@import 'bourbon/bourbon';
@import 'variables';
@import 'mixins';

html {
    @include font-smoothing;
    background: $blue;

    font-family: $gotham;
    font-size: $font-size-base;
    color: $black;
}

.page {
    width: 100%;
    height: 100vh;

    position: relative;

    overflow: hidden;
}

.intro {
    width: 100%;
    height: 100vh;

    position: relative;

    overflow: hidden;
}

article {

    p {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    h1 {
        @extend p;
        font-weight: $bold;
    }

    &.scale-up {
        @include animation(scaleUp .5s ease-in-out);
    }
}

.trigger.middle {
    position: absolute;
    top: 50%;
}

.back {
    @include transition(left .3s ease-in-out, opacity 1s ease-in-out);
    width: 10%;

    position: fixed;
    top: 2.5%;
    left: -10%;

    opacity: 0;

    &.active {
        left: 5%;

        opacity: 1;
    }
}

nav {
    @include transition(right .5s ease-in-out, opacity 1s ease-in-out);
    position: fixed;
    right: -6rem;
    bottom: 5rem;

    opacity: 0;

    &.active {
        right: 1rem;
        bottom: 5rem;

        opacity: 1;
    }

    li {
        width: 2.6rem;
        height: 2.6rem;

        margin: 2rem;

        border: 2px solid $black;

        background: $blue;

        list-style: none;

        &:not(:nth-child(2)) {
            border-radius: 2.5rem;
        }

        &:nth-child(2) {
            @include transform(rotate(45deg));
            background: $white;
        }

        &:nth-child(3) {
            background: $yellow;
        }

        &:nth-child(4) {
            background: $red;
        }

        &:nth-child(5) {
            background: $green;
        }
    }
}

.clock {
    @include transition(left .7s ease-in-out, opacity 1s ease-in-out);
    width: 7%;

    position: fixed;
    bottom: 2.5%;
    left: -10%;

    opacity: 0;

    &.active {
        left: 5%;

        opacity: 1;
    }

    img {
        width: 100%;
    }

    figcaption {
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.center {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.pinned {
    @include transform(translateX(-50%));
    @include calc(top, '5% + 4rem');
    position: fixed;
    top: 5%;
    left: 50%;

    margin-top: 0;

    z-index: 1;
}

.fade-in {
    @include transition(transform .5s ease-in-out, opacity .8s ease-in-out);
    @include transform(scale(0));
    opacity: 0;

    &.active {
        @include transform(scale(1));
        opacity: 1;
    }
}

.pulse {
    @include pulse();
}

.swing {
    @include swing();
}

.rubber-band {
    @include rubberBand();
}
