@import 'bourbon/bourbon';
@import 'variables';

.logo {
    @include flipInX();
    width: 45%;

    position: absolute;
    top: 10%;
    left: 10%;
}

article {
    @include calc(width, '40% - 4rem');
    padding: 2rem;

    border-radius: 1.5rem;

    background: $white;

    strong {
        font-weight: $bold;
    }
}

.intro {
    article {
        @include fadeInRightBig();
        position: absolute;
        top: 40%;
        left: 50%;
    }

    .scroll {
        @include bounceInUp($duration: 1s, $delay: 1s);
        width: 25%;

        position: absolute;
        bottom: 10%;
        left: 57.5%;
    }
}

.page {
    > h1 {
        @include transition(top .5s ease-in-out);

        position: relative;
        top: 0;

        margin-top: 5%;

        font-size: 4rem;
        font-weight: $round;
        text-align: center;
        color: $red;

        &.pinned {
            position: fixed;
            top: 5%;

            margin-top: 0;
        }
    }

    h2 {
        @include transition(top .5s ease-in-out, opacity .5s ease-in-out);
        @include calc(margin-top, '5% + 4rem');

        position: relative;
        top: 0;

        opacity: 1;

        font-family: $filosofia;
        font-size: 3.5rem;
        text-align: center;
        color: $white;

        &.pinned {
            @include calc(top, '5% + 4rem');
            position: fixed;

            margin-top: 1rem;
        }

        &.hide {
            opacity: 0;
        }
    }
}

div.center {
    width: 70%;

    article {
        @include calc(width, '50% - 4rem');
        float: left;
    }

    > img {
        width: 35%;

        float: right;
    }
}

.faces {
    width: 50%;

    &.fixed {
        position: fixed;
    }

    div {
        width: 50%;
    }

    img {
        @include transition(opacity .3s ease-in-out);
        width: 50%;

        float: left;

        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    .face1 {
        &.active {
            @include tada();
        }
    }

    .face2 {
        &.active {
            @include bounce();
        }
    }

    .face3 {
        &.active {
            @include rubberBand();
        }
    }

    .face4 {
        &.active {
            @include jello();
        }
    }
}
