// Colors
$blue: #56C0EB;
$yellow: #FFD05C;
$red: #E85F55;
$green: #43B189;
$white: #F6EED8;
$black: #1D1E1C;
$gray: #969494;

// Fonts
$gotham: Gotham;
$filosofia: Filosofia OT;
$normal: 400;
$bold: 700;
$round: 900;
$font-size-base: 10px;
